{% set app_name = "#{app_name}" %}
{% set view_dir = "#{base_url}view/" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Damien NGUYEN">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ view_dir }}img/favicon.png">

    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ view_dir }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ view_dir }}css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="{{ view_dir }}css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="{{ view_dir }}css/all.min.css">
        <link rel="stylesheet" href="{{ view_dir }}css/style.css">

    {% endblock %}

</head>
<body>

    {% block navbar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="{{ base_url }}">{{ app_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_url }}">
                            <i class="fa fa-home mr-2" aria-hidden="true"></i>Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_url }}add/project">
                            <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add project
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">

                    {% if not username %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ base_url }}signIn">
                                <i class="fa fa-sign-in-alt mr-2" aria-hidden="true"></i>Login
                            </a>
                        </li>

                    {% else %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                                Logged in as {{ username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ base_url }}edit/password">
                                    <i class="fa fa-key mr-2" aria-hidden="true"></i>Update password
                                </a>
                                <div class="dropdown-divider"></div>

                                {% if isAdmin %}

                                    <a class="dropdown-item" href="{{ base_url }}admin/users">
                                        <i class="fa fa-users-cog mr-2" aria-hidden="true"></i>Manage users
                                    </a>
                                    <a class="dropdown-item" href="{{ base_url }}admin/settings">
                                        <i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings
                                    </a>
                                    <div class="dropdown-divider"></div>

                                {% endif %}

                                <a class="dropdown-item" href="{{ base_url }}logout">
                                    <i class="fa fa-sign-out-alt mr-2" aria-hidden="true"></i>Logout
                                </a>
                            </div>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </nav>

    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}

        <script src="{{ view_dir }}js/jquery.js"></script>
        <script src="{{ view_dir }}js/bootstrap.js"></script>
        <script src="{{ view_dir }}js/bootstrap-bundle.js"></script>
        <script src="{{ view_dir }}js/all.min.js"></script>

    {% endblock %}

</body>
</html>
