{% extends "base.html.twig" %}

{% set title = "Change your password" %}
{% set fields = {
    'old': 'Old password',
    'new': 'New password',
    'check': 'Confirm your new password
'} %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="align-middle container h-100">
        <div class="align-items-center h-100 row">
            <div class="col-md-12">
                <div class="bg-dark card p-2">
                    <div class="card-header">
                        <h2 class="text-center text-success">{{ title }}</h2>
                    </div>
                    <div class="card-body">
                        <form action="{{ base_url }}edit/password" method="post">

                            {% for id, str in fields %}

                                <div class="form-group">
                                    <label class="text-white" for="{{ id }}">{{ str }}</label>
                                    <input class="form-control" id="{{ id }}" name="{{ id }}" type="password" required>
                                </div>

                            {% endfor %}

                            <button type="submit" class="btn btn-block btn-success mb-2">Submit</button>
                        </form>
                        <a class="btn btn-block btn-secondary" href="{{ base_url }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
