{% extends "base.html.twig" %}

{% set title = "ERROR" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="align-middle container h-100">
        <div class="align-items-center h-100 row">
            <div class="col-md-12">
                <div class="bg-dark card p-2">
                    <div class="card-header">
                        <h2 class="text-center text-danger">{{ title }}</h2>
                    </div>
                    <div class="card-body">

                        {% for error in errors %}

                            <p class="text-center text-white">{{ error }}</p>

                        {% endfor %}

                        <a class="btn btn-block btn-secondary" href="{{ base_url }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
