{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        <div class="list-group">

            {% for project in projects %}

                <div class="d-flex w-100 justify-content-between align-items-center">
                    <a class="bg-dark list-group-item list-group-item-action text-white"
                       href="{{ project.link }}" target="_blank">
                        <h5>{{ project.name }}</h5>
                    </a>
                    <form action="{{ base_url }}feed" class="form-inline ml-1" method="post">
                        <input type="hidden" name="id" value="{{ project.id }}">
                        <button type="submit" class="btn btn-outline-danger btn-md p-button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
