{% extends "base.html.twig" %}

{% set title = "Login" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="align-middle container h-100">
        <div class="align-items-center h-100 row">
            <div class="col-md-12">
                <div class="bg-dark card p-2">
                    <div class="card-header">
                        <h2 class="text-center text-success">{{ title }}</h2>
                    </div>
                    <div class="card-body">
                        <form action="{{ base_url }}login" method="post">
                            <div class="form-group">
                                <label class="text-white" for="username">Username</label>
                                <input class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label class="text-white" for="password">Password</label>
                                <input class="form-control" id="password" name="password" type="password" required>
                            </div>
                            <a href="{{ base_url }}reset/password">
                                <span class="badge badge-secondary mb-3">Forgot your password?</span>
                            </a>
                            <button type="submit" class="btn btn-block btn-success mb-2">{{ title }}</button>
                        </form>
                        <a class="btn btn-block btn-light" href="{{ base_url }}register">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
