{% extends "base.html.twig" %}

{% set title = "Register" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="align-middle container h-100">
        <div class="align-items-center h-100 row">
            <div class="col-md-12">
                <div class="bg-dark card p-2">
                    <div class="card-header">
                        <h2 class="text-center text-success">{{ title }}</h2>
                    </div>
                    <div class="card-body">
                        <form action="{{ base_url }}register" method="post">
                            <div class="form-group">
                                <label class="text-white" for="username">Username</label>
                                <input class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label class="text-white" for="email">Email address</label>
                                <input class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label class="text-white" for="password">Password</label>
                                <input class="form-control" id="password" name="password" type="password" required>
                            </div>
                            <div class="form-group">
                                <label class="text-white" for="check">Password</label>
                                <input class="form-control" id="check" name="check" type="password" required>
                            </div>
                            <button type="submit" class="btn btn-block btn-success mb-2">{{ title }}</button>
                        </form>
                        <a class="btn btn-block btn-secondary" href="{{ base_url }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
