{% extends "base.html.twig" %}

{% block title %}Settings{% endblock %}

{% block body %}

    <div class="container-fluid">
        <form action="{{ base_url }}admin/settings" method="post">
            <div class="form-group">
                <button class="btn btn-block btn-success" type="submit">Submit</button>
            </div>
            {% for key, setting in settings %}
                <div class="form-group row">
                    <label for="{{ setting.name }}" class="col-sm-2 col-form-label text-white">{{ key }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="{{ setting.name }}" name="{{ setting.name }}"
                               value="{{ setting.value }}">
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>

{% endblock %}
