{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        <div class="list-group">

            {% for user in users %}

                <a class=" bg-dark list-group-item list-group-item-action mb-1 text-white" href="#">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ user.username }}</h5>

                        {% if user.username != username %}

                            <form action="{{ base_url }}admin/users" class="form-inline" method="post">
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>

                        {% endif %}

                    </div>
                </a>

            {% endfor %}

        </div>
    </div>

{% endblock %}
